// Styles reset
@import 'modules/reset';

body {
    background-color: #1c78c1;
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        h1, h3 {
            color: #fff;
            text-transform: uppercase;            
            text-shadow: 2px 2px 3px black;
        }
        img {
            width: 350px;
            height: auto;
            border-radius: 6px;
            margin: 0 0 1.5em;
            border: 1px solid #8cd6f9;
        }
        h1 {
            font-size: 56px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: .325em;
            font-weight: bold;
            margin: 0 0 .25em;
        }
        h3 {
            font-size: 20px;
            letter-spacing: .125em;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}